<% include header %>
<link href="../css/markdown.css" rel="stylesheet"></link>
<link rel="stylesheet" type="text/css" href="../index.css">
<div class="main">
    <article id="content" class="post">
        <%-content%>
    </article>
</div>
</body>