<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,minimum-scale=1.0, maximum-scale=1.0,width=device-width">
    <title>blog</title>
</head>
<body>
<style type="text/css">
body,ul,li{margin:0; padding: 0;}
li{list-style-type: none;}
a{text-decoration: none;}
body{
    background: #f5f8fa;
    font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.header{
    height: 99px;
    border-bottom: 1px solid #dadfe1;
    background: #303030 ;
}
.header .h-con{
    height: 100%;
    width: 800px;
    margin: 0 auto;
}
.header a{
    font-size: 30px;
    line-height: 100px;
    height: 100px;
    display: inline-block;
    color: #eee;
}
.main{
    width: 800px;
    min-height: 800px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
article pre code{
    word-wrap: break-word;
}
</style>
<div class="header">
    <div class="h-con">
        <a href="/">kmbaby's blog</a>
    </div>
</div>