<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,minimum-scale=1.0, maximum-scale=1.0,width=device-width">
    <link rel="stylesheet" type="text/css" href="index.css">
    <title>blog</title>
</head>
<body>
<div class="header">
    <div class="h-con">
        <a href="/"><h1>kmbaby's blog</h1></a>
    </div>
</div>