<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,minimum-scale=1.0, maximum-scale=1.0,width=device-width">
    <title>blog</title>
</head>
<body>
<style type="text/css">
body,ul,li{margin:0; padding: 0;}
li{list-style-type: none;}
body{
    background: #e5e5e5;
}
.header{
    height: 99px;
    border-bottom: 1px solid #dadfe1;
    background: #303030 ;
}
.main{
    width: 800px;
    min-height: 800px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
</style>
<div class="header">
    <a href="/">kmbaby's blog</a>
</div>