<style>
#content a{text-decoration: none; color: #555555; font-size:18px; height: 60px; display: inline-block;}
#content a:after{
    content: '>>';
    vertical-align: middle;
    text-indent: 10px;
    display: inline-block;
}
#content li{height: 60px; line-height: 60px; border-bottom:1px dashed #d9d9d9;}
</style>
<% include header %>
<div class="main">
    <div id="content">
        <% for(var i=0; i<articles.length; i++) { %>
            <li>
                <a href="articles/<%=articles[i]%>.html"><%= articles[i] %></a>
            </li>
        <% } %>
    </div>
</div>
</body>