<% include header %>
<link rel="stylesheet" type="text/css" href="index.css">
<div class="main">
    <div id="content" class="content">
        <% for(var i=0; i<articles.length; i++) { %>
            <li>
                <a href="articles/<%=articles[i]%>.html"><%= articles[i] %></a>
            </li>
        <% } %>
    </div>
</div>
</body>